@import url('./header.css');
@import url('./about.css');
@import url('./experience.css');
@import url('./project.css');
@import url('./contact.css');
@import url('./footer.css');

:root {
    --color-pure-white: #FFFFFF;
    --color-white: #F7F8FC;
    --color-gray-light: #cccccc;
    --color-dark-bg: #1f1f1f;
    --color-black: #010300;
    --color-dark-surface: #2a2a2a;
    --color-green: #00ffd0;
    --color-text-dark: #222222;
    --color-text-semidark: #555555;
    --color-text-medium: #444444;
    --color-text-light: #888888;

    --color-hover: var(--color-green);
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    cursor: pointer;
}