<section class="about" id="about">
    <div class="about__content">
        <h2 class="about__title">Hi, I'm <span class="about__highlight">Mapa</span> 👩‍💻</h2>
        <p class="about__description">
            I'm a passionate <strong>Frontend Software Developer</strong> from <strong>Cali, Colombia</strong>, with
            over
            <strong>4 years of experience</strong> building clean, responsive, and user-friendly web interfaces.
            <br /><br />
            I specialize in modern frontend technologies like <strong>HTML</strong>, <strong>CSS/SCSS</strong>,
            <strong>JavaScript</strong>, <strong>TypeScript</strong>, <strong>Angular</strong> and
            <strong>ReactJS</strong>,
            and I've also worked with UI frameworks like <strong>Bootstrap</strong> and <strong>Material UI</strong>.
            <br /><br />
            Additionally, I have experience building full-stack solutions with <strong>Node.js</strong>, 
            managing tasks using <strong>Jira</strong>, and working with <strong>AWS
                Lambdas</strong>
            for cloud-based functionality.
        </p>
    </div>

    <div class="about__image-wrapper">
        <img src="assets/images/about-illustration.png" alt="Frontend Developer illustration" class="about__image" />
    </div>
</section>