<section class="experience" id="experience">
    <h2 class="experience__title">My Work Experience</h2>
    <div class="experience__timeline">

        <!-- Catenaria -->
        <div class="experience__item">
            <div class="experience__dot"></div>
            <div class="experience__content">
                <h3 class="experience__company">Catenaria LTDA</h3>
                <p class="experience__role">Junior Frontend Developer</p>
                <p class="experience__date">August 2020 – December 2021</p>
                <p class="experience__description">
                    I was responsible for developing and maintaining the company's frontend applications. I worked
                    closely with the team to implement responsive interfaces, ensure cross-browser compatibility, and
                    deliver clean, reusable code using modern best practices.
                </p>
                <p class="experience__tools">
                    <strong>Tools:</strong> HTML, CSS, SCSS, TypeScript, Angular, Bootstrap, Git, Github
                </p>
            </div>
        </div>


        <!-- Konecta -->
        <div class="experience__item">
            <div class="experience__dot"></div>
            <div class="experience__content">
                <h3 class="experience__company">Konecta Colombia</h3>
                <p class="experience__role">Software Developer</p>
                <p class="experience__date">December 2021 – Present</p>
                <p class="experience__description">
                    I'm responsible for developing and maintaining the company's frontend applications, ensuring
                    performance, accessibility and usability across platforms. I actively collaborate with
                    cross-functional teams, contribute to architectural decisions, and support backend integrations
                    using serverless technologies.
                </p>
                <p class="experience__tools">
                    <strong>Tools:</strong> HTML, CSS, SCSS, TypeScript, JavaScript, Angular, ReactJS, Material UI, Git,
                    Bitbucket, Node.js, AWS Lambdas
                </p>
            </div>
        </div>


    </div>
</section>