<header class="navbar">
    <div class="navbar__logo">
        <img class="navbar__image" src="assets/images/logo-callmemapa.png" alt="callmemapa logo" />
    </div>

    <button class="navbar__toggle" aria-label="Toggle menu">
        &#9776;
    </button>

    <nav class="navbar__menu">
        <a href="#about" class="navbar__menu-item">About me</a>
        <a href="#experience" class="navbar__menu-item">Experience</a>
        <!-- <a href="#projects" class="navbar__menu-item">Projects</a> -->
        <a href="#contact" class="navbar__menu-item">Contact</a>
    </nav>
</header>